<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C335B3D61C11C30A00E8B932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C335B3EF1C11C30A00E8B932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C335B3FA1C11C30A00E8B932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
